@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1e1e1e;
  --white: #fafafa;
  --secondary_color: #e1fda2;
  --error: rgb(232, 11, 11);
  --link: rgb(79, 76, 246);
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy-bold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
